{% extends "contacts/base_bootstrap.html" %}
{% load staticfiles %}
{% block title_block %}
  Login
{% endblock %}
{% block body_block %}

  <div class="container">

      <form method="post" action="." class="form-signin">
        <h2 class="form-signin-heading text-center">LF Database</h2>
        {% csrf_token %}
        <div class="row">
          {{form.non_field_errors}}
        </div>
        {% for field in form %}
        <div class="row">
            {{ field.errors }}
        </div>
        <div class="fieldWrapper form-group row">
            {{ field.label_tag }}
                {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="row">
          <input type="submit" value="LOGIN" class="btn btn-primary btn-primary btn-block" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>

    </div>
    <script src="{% static "js/reg_redux.js" %}"></script>
{% endblock %}
