{% extends "contacts/base_bootstrap.html" %}
{% load staticfiles %}

{% block title_block %}
  Change Password
{% endblock %}

{% block body_block %}
<h1 class="pb20">Change Password</h1>
<form method="post" action="." class="form-horizontal">
  {% csrf_token %}
  {% for field in form %}
  <div class="row">
    <div class="offset-sm-3">
      {{ field.errors }}
    </div>
  </div>
  <div class="fieldWrapper form-group row">
      {{ field.label_tag }}
        <div class="col col-sm-6">
          {{ field }}
        </div>
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
  </div>
  {% endfor %}
  <div class="row">
    <div class="offset-sm-3 pl15">
      <input type="submit" value="Submit" class="btn btn-primary btn-primary" />
    </div>
  </div>
</form>
<script src="{% static "js/reg_redux.js" %}"></script>
{% endblock %}
