h1, h2, h3 {
  font-weight: 300;
}

.jumbotron {
  padding: 2rem;
}

.slim-jumbo {
  padding: 1rem 1rem;
}

.jumbo-h1 {
  padding-bottom: 2rem;
}

.mt20 {
  margin-top: 20px
}

.ml15 {
  margin-left: 15px
}

.nmb {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.pt5 {
  padding-top: 5px
}

.pl15 {
  padding-left: 15px
}

.pb20 {
  padding-bottom: 20px
}

.pb40 {
  padding-bottom: 40px
}

.errorlist {
  color: #cc0000
}

.desc, .asc {
  text-decoration: underline;
}

.nav-link {
  font-weight: 300;
}

#myFixedHeightContainer {
    height: 40vh;
}

.bg-inverse {
  background-color: #27232C !important
}

.btn-outline-white {
    color: #fff;
    background-image: none;
    background-color: transparent;
    border-color: #fff;
}

.ft14px {
  font-size: 14px
}

.underlined {
  text-decoration: underline;
}
