{% extends 'contacts/base_bootstrap.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
  Import Contacts
{% endblock %}

{% block body_block %}
  <h1 class="pb20">Import Contacts</h1>
  <div class="row">
    <div class="cols-sm-12">
      <p class="lead ml15">
        Add multiple contacts by downloading and completing the
        <a class="underlined"
           href="https://docs.google.com/spreadsheets/d/1rmKLbZaeNwSlUOShyncGGnWEvA9SVH4GXIqHc459bX8/export?format=xlsx">
          Import Contacts Template</a> file.
      </p>
      <hr>
      <p class="lead ml15">After completing the template file, upload and submit the file using the form below.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
      </form> -->
      {% crispy form %}
    </div>
  </div>
{% endblock %}
