{% extends 'contacts/base_bootstrap.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
  Import Contacts
{% endblock %}

{% block body_block %}
  <h1 class="pb20">Import Contacts</h1>
  <div class="row">
    <div class="cols-sm-12">
      <p class="lead ml15">
        Add multiple contacts by downloading and completing the
        <a class="underlined"
           href="https://docs.google.com/spreadsheets/d/1ePU6LObXR9r8X8l7r3mgVFkDjLFS5MXR6TSXjZSRYjY/export?format=xlsx">
          Import Contacts Template</a> file.
      </p>
      <hr>
      <p class="lead ml15">After completing the template file, upload and submit the file using the form below.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% crispy form %}
    </div>
  </div>
{% endblock %}
