{% extends 'contacts/base_bootstrap.html' %}

{% load staticfiles %}
{% load humanize %}
{% load render_table from django_tables2 %}

{% block body_block %}

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 jumbo-h1">Tampa Lost Founds</h1>
    <div class="row">
      <div class="col-sm-4">
        <p class="lead">Total Lost Founds Added: {{ total_contacts }}</p>
      </div>
      <div class="col-sm-4">
        <p class="lead">Lost Founds in Tampa: {{ black_population|intcomma }}</p>
      </div>
      <div class="col-sm-4">
        <p class="lead">Percent in Database: {{ percent_lf_added }} %</p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h4 class="lead">
    Recently Added by {{ user.first_name }} {{ user.last_name }}
  </h4>
</div>
<div class="container">
  {% render_table table %}
</div>
{% endblock %}
